/* index.css */

/* Tailwind CSS base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f4f5f6;
}

@media print {
  .no-print {
    display: none;
  }
  .print-no-shadow {
    box-shadow: none !important;
  }
  .print-no-py {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .print-no-my {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  input[type="text"] 
  input[type="date"] 
  input[type="number"] 
   {
    font-size: 8px;
  }
  label{
    font-size: 12px;
  } 
  .print-text-8px {
    font-size: 8px;
  }
  .print-text-10px{
    font-size: 12px;
  } 
  .print-text-12px{
    font-size: 12px;
  }
  .print-border-none{
    border: none;
  }
  
}
