/* index.css */

/* Tailwind CSS base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #F4F5F6;
}

@media print {
    .no-print {
      display: none;
    }
    .print-no-shadow {
        box-shadow: none !important;
      } 
    
  }
  