/* index.css */

/* Tailwind CSS base, components, and utilities */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
}

.font-Josefin-Sans {
  font-family: 'Josefin Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media print {
  .no-print {
    display: none;
  }
  .print-no-shadow {
    box-shadow: none !important;
  }
  .print-no-py {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .print-no-my {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  input[type='text'],
  input[type='date'],
  input[type='number'] {
    font-size: 10px;
  }

  label {
    font-size: 12px;
  }
  .print-text-8px {
    font-size: 8px;
  }
  .print-text-10px {
    font-size: 12px;
  }
  .print-text-12px {
    font-size: 12px;
  }
  .print-border-none {
    border: none !important;
    border-width: 0 !important;
    border-bottom-width: 0px;
  }

  .print-shadow-none {
    box-shadow: none;
  }
}

/* Webkit browsers (Chrome, Safari) */
.custom-scrollbar {
  /* scrollbar-width: thin;  */
  scrollbar-color: #d5e4f1 #ffffff; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  /* width: 8px; */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f4f5f6; /* Background color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3952ac; /* Color of the scrollbar handle */
  border-radius: 4px; /* Optional: rounded corners for the scrollbar handle */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2a3f7f; /* Darker color on hover */
}
